<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1>📚 StudyMood</h1>

        <p>Inicia sesión para continuar</p>

        <form method="POST">

            <input
                name="correo"
                type="email"
                placeholder="Correo electrónico"
                required
            >

            <input
                name="password"
                type="password"
                placeholder="Contraseña"
                required
            >

            <button>Iniciar sesión</button>

        </form>

        <a href="/register">
            No tengo cuenta
        </a>

    </div>
</body>
</html>