<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ materia }}</title>
</head>

<body>

    <div class="materia-container">

        <h1>{{ materia }}</h1>

        <p>
            Usuario: {{ usuario }}
        </p>

        <form method="POST">

            <textarea
                name="contenido"
                placeholder="Escribe tu resumen aquí..."
            >{{ contenido }}</textarea>

            <button>
                Guardar resumen
            </button>

        </form>

        <a href="/materias">
            Volver a materias
        </a>

    </div>

</body>
</html>